:root {
    font-family: 'Inter';
}

body {
    background-color: #ffba6a;
}

h1 {
    text-align: center;
}

.main {
    /* border: 1px solid #111111;
    border-radius: 10px; */
    margin-top: 100px;
    top: 0
}

.fixed-head {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #994e37;
}

.ZrlWPe.jNnrVc {
    /* This is the model viewer */
    width: 300px;
    height: 150px;
    place-self: center;
}

.atom-symbol {
    border: 1px solid #111111;
    border-radius: 10px;
    background-color: #2A4165;
    color: #ffffff;
    width: 50px;
    height: 70px;
    text-align: center;
}

.atom-symbol .symbol {
    margin: 10px;
    line-height: 1.1;
    font-size: 30px;
    margin-left: 0;
    margin-right: 0px;
    border-bottom: 1px solid #111111;
}

.atom-symbol .config {
    font-size: 13px;
    line-height: 0;
    margin-top: -3px 
}

.data-table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 250px
}

.data-table table {
    border-collapse: collapse
}

.data-table td {
    border: 1px solid;
    border-radius: 30px;
    padding: 3px
}

.atom-symbol .z {
    margin: 0;
    text-align: left;
    padding-left: 5px;
    
    font-size: 10px;

}